PORT=4000

# Setting default di bawah ini cocok dengan konfigurasi default XAMPP.
# Kalau kamu ubah password root MySQL, update DB_PASSWORD di bawah.
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sakuku_db
